:root{
    --primary : #558B6E;
    --primarytint1 : #5D9878;
    --primarytint2 : #0C4B33;
    --primarytint3 : #cdf6bd;
    --primarytint4 : #00D373;
    --primarytint5 : #3e6e54;
    --primarytint6 : #44B78B;
    --dark : #202020;
    --darktint1 : #202020c0;
    --light : #fefefe;
    --lighttint1 : #fefefe9b;
}

html, body, #app{
    width : 100%;
    height : 100%;
    margin : 0 0 0 0;
}
  
body{
    background-color : var(--light);
    font-family : Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color : black;
    overflow : hidden;
}
  
a{
    text-decoration: none;
    color: black;
}

.hidden{
    display: none;
    height: 0%;
    width: 0%;
}

#authenticate{
    height: inherit;
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#authenticate .menubtn{
    height: 60%;
    width: 120px;
    border-radius: 6px;
    font-size: large;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primarytint4);
    color: var(--light);
    box-shadow: 2px 2px 6px var(--dark);
    cursor: pointer;
}

#authenticate .menubtn:active{
    box-shadow: inset 2px 2px 6px var(--dark);
}

#burger, #upperburger, #lowerburger{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#burger{
    width: 30px;
    height: 30px;
    flex-direction: column;
    cursor: pointer;
}

#upperburger, #lowerburger{
    width: 100%;
    height: 40%;
}

.line{
    width: 40%;
    height: 80%;
    background: var(--primarytint4);
}

.navbar{
    height: 60px;
    width: 98%;
    padding: 5px 1% 5px 1%;
    background: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--light);
    font-size: larger;
    font-weight: lighter;
}

.navbar #logo{
    display: flex;
    height: 50px;
    width: 200px;
    background: url("../imgs/logo.svg") no-repeat;
    background-position: center;
    background-size: cover;
}

#footbar{
    width: 100%;
    height: 250px;
    padding: 50px 0 50px 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background: var(--primarytint6);
}

#footbar ol{
    display: flex;
    flex-direction: column;
    color: var(--light);
    font-size: larger;
}

#footbar a{
    margin-bottom: 5px;
    color: var(--light);
}

#footbar a:hover{
    color: var(--primarytint2);
}

#footbar2{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    /*border-top: 2px solid var(--dark);*/
    background: var(--primarytint2);
    color: var(--primary);
}

#authcontainer{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    /*left: 30%;*/
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
}

#auth{
    min-width: 25%;
    min-height: 40%;
    padding: 0 2% 0 2%;
    background: var(--light);
    box-shadow: 2px 2px 6px var(--dark);
}

.cancelcontainer{
    width: 100;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.cancelcontainer #cancel{
    width: 30px;
    height: 30px;
    border: 1px solid var(--dark);
    background: url("../imgs/close.svg") no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
}

.cancelcontainer #cancel:active{
    border: 1px solid var(--primarytint4);
}

#auth #authswap{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

#auth #authswap span{
    width: 100%;
    height: inherit;
    border-bottom: 2px solid var(--dark);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
}

#auth #authswap span:hover{
    border-bottom: 2px solid var(--primarytint4);
    color: var(--primarytint4);
}

#auth #authswap span:active{
    box-shadow: inset 2px 2px 6px var(--dark);
}

.authcapsule, .imgcapsule{
    width: 100%;
    height: 80px;
    display: flex;
}

.authcapsule{
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.imgcapsule{
    align-items: center;
    justify-content: space-between;
}

.authcapsule input[type="text"], .authcapsule input[type="password"], .authcapsule input[type="email"], .imgcapsule input[type="tel"]{
    align-self: center;
    width: 98%;
    height: 35px;
    padding: 1% 1% 1% 1%;
    font-size: large;
}

.imgcapsule input[type = "tel"]{
    width: 80%;
}

.imgcapsule label{
    height: 35px;
    width: 35px;
    border-radius: 35px;
}

.imgcapsule #whatsapp{
    background: url("../imgs/whatsapp.png") no-repeat;
    background-position: center;
    background-size: cover;
}

#authmode button{
    outline: none;
    border: none;
    width: 140px;
    height: 40px;
    margin: 5px 0 5px 0;
    cursor: pointer;
    font-size: larger;
    color: var(--light);
    background: var(--primarytint4);
    border-radius: 6px;
    box-shadow: 2px 2px 6px var(--dark);
}

#authmode button:active{
    box-shadow: inset 2px 2px 6px var(--dark);
}

#configexam{
    width: 800px;
    padding: 10px 5px 10px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#configexam #examstab{
    width: 70%;
}

#configexam #subjectstab{
    width: 30%;
}

#configexam img{
    height: 180px;
}

#subjectstab .selectcontainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 90%;
    min-height: 50px;
    padding: 5px 5px 5px 5px;
    margin: 5px 0 5px 0;
}

.selectcontainer select{
    width: 100%;
    height: 40px;
    padding: 5px 0 5px 0;
    align-self: center;
    margin: 5px 0 5px 0;
    background: none;
    border: 2px solid var(--dark);
}