#menubar{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: var(--sidemenuwidth);
  height: 90%;
  background: linear-gradient(var(--primary), var(--primarytint1));
  box-shadow: 2px 2px 6px var(--dark);
}

.profilepic{
  display: none;
}

.menuicon, .iconholders, #logo{
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.iconholders{
  background-color: var(--light);
}

.menuicon:hover, .iconholders:hover{
  border-radius: 10px;
  border: 2px solid var(--primarytint4);
  transition: ease-in-out 0.2s;
}

#examicon{
  background: url('../imgs/cbt.svg') no-repeat;
  background-position: center;
  background-size: contain;
}

#rankingicon{
  background: url('../imgs/leaderboard.svg') no-repeat;
  background-position: center;
  background-size: contain;
}

#blogicon{
  background: url('../imgs/blog.svg') no-repeat;
  background-position: center;
  background-size: contain;
}

#wallpaper{
  width: 100%;
  height: var(--wallpaperwidth);
  background-color: #fefefe;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#descriptionpanel{
  width: 50%;
  height: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#descriptionpanel h2{
  font-weight: lighter;
  color: var(--primary);
}

#descriptionpanel p{
  margin-top: 0;
  margin-bottom: 0;
}

.description {
  height: 30%;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .01em;
  animation: 
    typing 3.5s steps(40, end),
    blink-caret 1s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: var(--dark); }
}

#fancyimage{
  width: 50%;
  height: 100%;
  background: url('../imgs/fancyimage1.png') no-repeat;
  background-position: center;
  background-size: contain;
}

/*@media screen and (max-width : 1024px), (min-height : 768px) {

  #descriptionpanel{
    height: 30%;
  }
  
  #descriptionpanel{
    width: 100%;
  }
  
  #signinpanel a{
    width: 50%;
  }
  
  #fancyimage{
    width: 100%;
    height: 100%;
  }
}*/