<!DOCTYPE html>
<html>
    <head>
        <title>Mockexams</title>

        {% load static %}
        <link rel="stylesheet" href="{% static 'mockexamsapp/css/global.css' %}">
        <link rel="stylesheet" href="{% static 'mockexamsapp/css/'|add:css|add:'.css' %}">
        <meta charset="utf-8"/>
        <meta name="keywords" content="mockexams, cbt, jamb, post utme">
        <meta property="og:title" content="Mockexams">
        <meta property="og:description" content="Mockexams is an examination practice website to ease studying for cbt exams">
    </head>
    <body>
        <main id="app"></main>
        <script src="{% static 'mockexamsapp/js/'|add:js|add:'.js' %}"></script>
        <script src="{% static 'mockexamsapp/js/markdown.js' %}"></script>
    </body>
</html>